<div class="weather-card" *ngFor="let location of locations">
    <a class="card-content" 
    [title]="location.city + ' details'"
    [ngSwitch]="location.conditions">
        <h2 class="card-content">Weather Summary</h2>
        <h3 class="card-content">{{location.city}}</h3>
        <h3 class="card-content">{{location.currentTemp}}</h3>
        <img class="card-content" *ngSwitchCase="'Sunny'" src="../../assets/sunny.png"/>
        <img class="card-content" *ngSwitchCase="'Snow'" src="../../assets/snow.png"/> 
        <img class="card-content" *ngSwitchCase="'Partly Cloudy'" src="../../assets/partly_cloudy.png"/> 
        <img class="card-content" *ngSwitchCase="'Rainy'" src="../../assets/rain.png"/> 
        <img class="card-content" *ngSwitchCase="'Cloudy'" src="../../assets/cloudy.png"/> 
        <img class="card-content, brewers" *ngSwitchCase="'Awful'" src="../../assets/kisspng-milwaukee-brewers-arizona-diamondbacks-st-louis-c-5b2167fd88e563.6774381015289159655607.png"/> 
    </a>
</div>