.detail-container {
    background-color: rgb(141, 23, 209);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
}

.weather-detail {
    background-color: rgb(141, 23, 209);
    padding: 10px 10px;
    height: 100%; 
    width: 80%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    align-self: center;
  }